<div id="qrcode_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <form style="margin-bottom: 0px">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body row">
                    <div class="col-xs-12 col-md-12">
                        <div class="title_div" style="font-size: 17px;padding-left: 15px">
                            <h2 class="title_h2"><span id="qrcodeTitle"></span>的二维码</h2>
                        </div>
                        <div id="qrcodeCanvas" style="padding-left: 30%;padding-top: 15px"></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </form>
</div>